@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

html,
body,
#root,
.app,
.content {
	width: 100%;
	min-height: 100vh;
}

.app {
	display: flex;
	position: relative;
}

/* .content {
	overflow-y: scroll;
} */

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
	background: #555;
}
